<div class="container">
    <div class="row">
        <div class="col-lg shadow border-m1">
            <div class="text-center ">
                <img src="../../assets/Profile pic.jpg" alt="Profile picture" width="300" height="300">
            </div>
        </div>
        <div class="col-lg shadow border-m1">
            <div class="text-center ">
                <h2>About me</h2>
                <p>I'm Hana, currently in my second-year studying Software Engineering at the Egyptian Chinese University (ECU). I have a strong interest in web development, particularly as a Full-stack developer. I am dedicated to studying and mastering this field, inspired by the rapidly evolving landscape of technology.</p>
            </div>
        </div>
    </div>
</div>